:root {
    --background: #fbf3f3;
    --background-light:#f1f1f1;
    --black: #1c1c20;
    --1950: #E4160D;
    --2015: #177A7D;
    --2020: #3c6135;
    --2035: #e06c2e;
    --highlight: rgba(0,0,0,0.05);
    --text-backround: rgb(237, 237, 251);
}

body {
    padding: none;
    font-family:Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin:0;

    background-color: var(--background);
    color: var(--black);
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif;
    color: var(--black);
}

h1 {
    font-size: 2.4em;
}

p {
    font-size: 14px;
}

a {
    font-size: 12px;
    font-style: italic;
    color: var(--black);
}

img {
    width: 100%;
}

section {
    max-width: 100%;
    padding: 40px 60px 40px 60px;
}

footer {
    max-width: 600px;
    padding: 40px;
}

footer p {
    font-size: 11px;
}

.hero-section {
    max-width: 100vw;
    padding: 0;
}

#modelContainer {
    height: 100vh;
    overflow: hidden;
}


#hero-text {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 40px;
    background-color: var(--text-backround);
    opacity: 0.94;
}

#cities-chart{
    max-width: 680px;
    margin: 20px auto 20px auto;
}

#cities-section{
    background-color: var(--background-light);
    max-width: 100%;
}

.chart-header {
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    background-color: var(--background-light);

    border-bottom: solid 1.5px var(--black);

    display: flex;
    justify-content: space-between;
    align-items:end;

    max-width: 100vw;

    position: sticky;
    top: 0;
    z-index: 1;
}

#mapLegend {
    position: absolute;
    background-color: var(--background-light);
    padding: 20px;
    width: 20%;
}


select {
    padding: 4px;
    max-width: 300px;
    background: var(--text-backround);
    border-radius: 4px;
}

select:hover {
    background-color: #f1f1f1;
}

svg {
    overflow: visible
}



.counter {
    font-size: 20px;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 14px;
    background: var(--background);
    outline: solid 1px black;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 14px;
    border-radius: 0%; 
    background: var(--black);
    cursor: pointer;
}

.migrationCharts {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

#migrationChart1, #migrationChart2 {
    width: 50%;
    padding: 40px;
}

span {
    margin: 0 10px 0 0px;
    font-weight: 800;
}

.year {
    color: var(--background);
    padding: 2px;
    border-radius: 2px;
}

#fifty {
    background-color: var(--1950);
}

#fifteen {
    background-color: var(--2015);
}

#twenty {
    background-color: var(--2020);
}

#future {
    background-color: var(--2035);
}

text {
    dominant-baseline: middle;
}

circle.fifty {
    fill: var(--1950)
}

circle.fifteen {
    fill: var(--2015)
}

circle.twenty {
    fill: var(--2020)
}

circle.future {
    stroke:  var(--2035);
    fill: none;

}

text.popLabel {
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.20s;
}

g:hover text.popLabel {
    opacity: 1;
}

rect.hoverRect {
    fill: rgba(37, 25, 25, 0.09);
    opacity: 0;
    transition: opacity 0.20s;
}

g:hover rect.hoverRect {
    opacity: 1;
}

path.red {
    fill: none;
    stroke: var(--1950);
    stroke-width: 1.5px;
}

path.blue {
    fill: none;
    stroke: var(--2015);
    stroke-width: 1.5px;
}

path.green {
    fill: none;
    stroke: var(--2020);
    stroke-width: 1.5px;
}

path.orange {
    fill: none;
    stroke: var(--2035);
    stroke-width: 1.5px;
    stroke-dasharray: 2;
}

.addedText {
    padding: 10px;
    margin-top: 40px;
    max-width: 50%;
}

path.area {
    fill: rgba(253, 175, 92, 0.05);
}

line.gridLine {
    stroke-opacity: 20%;
    stroke-width: 1px;
    stroke: black;
    stroke-dasharray: 2;
}

@media (max-width: 800px) {
    body {
        margin: 20px auto 20px auto;
    }

    p {
        font-size: 14px;
    }

    form {
        margin-top: 8px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    section {
        padding: 20px 40px 20px 40px;
    }

    .chart-header {
        border-bottom: solid 1px var(--black);
        display: block;

    }


    section #hero-text {
        left: 30%;
        padding: 20px;
    }

    .migrationCharts {
        display: block;
        padding: 0px;
    }
    
    #migrationChart1, #migrationChart2 {
        margin: 10px auto 10px auto;
        width: 80%;
        height: auto;
    }

    #urban-section{
        margin-bottom: 0px;
    }

    .addedText {
        padding: 10px;
        max-width: 100%;
    }
    
    #mapLegend {
        /* display: block; */
        position: static;
        padding: 10px;
        width: 100%;
    }

    #mapLegend p {
        font-size: 10px;
    }



    header {
        display: block;
        padding: 14px;
    }

    /* no hover labels for mobile
    g:hover text.popLabel {
        opacity: 0;
    } */
    footer {
        padding: 2px 40px 2px 40px;
    }
}

@media (min-width: 1400px) {

    section {
        max-width: 1200px;
        margin: 20px auto 20px auto;
        padding: 20px 40px 20px 40px;
    }


}

